extends layout

block content
  h1= title
  p Welcome to #{title}

  ol
    each val in todos
      li
        // Task description display
        span #{val.task} - 
        
        // Completed or not
        if val.completed > 0
          span(style="color: green") Completed
        else
          span(style="color: red") Not Completed

        // ---- EDIT FORM ----
        form(method="POST", action="/edit", style="display:inline; margin-left:10px")
          input(type="hidden", name="id", value=val.id)
          input(type="text", name="task", value=val.task, required)
          button(type="submit") Edit

        // ---- COMPLETE FORM ----
        if val.completed == 0
          form(method="POST", action="/complete", style="display:inline; margin-left:10px")
            input(type="hidden", name="id", value=val.id)
            button(type="submit") Mark Completed

        // ---- DELETE FORM ----
        form(method="POST", action="/delete", style="display:inline; margin-left:10px")
          input(type="hidden", name="id", value=val.id)
          button(type="submit") Delete

  hr

  h2 Add a new task
  form(method='POST' action='/create')
    label(for='task') Task:
    input(type='text', name='task', id='task', required)
    button(type='submit') Create Task
